body { padding-top: 70px;
margin-bottom: 60px;
}

.navbar-brand>img {
   max-height: 100%;
   height: 100%;
   width: auto;
   margin: 0 auto;


   /* probably not needed anymore, but doesn't hurt */
   -o-object-fit: contain;
   object-fit: contain;

}

.label-as-badge {
    border-radius: 1em;
}



.footer {
  font-size:10px;
}

.testSuccess {
  font-size:9px;
  font-weight:bold;
}

.testFailed {
  font-size:9px;
  font-weight:bold;
}

.testSuccess .glyphicon {
  color: green;
}



.testFailed .glyphicon {
  font-size:8px;
  color: red;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.cost_optimizing {
  background-image: url('/images/categories.png');
  background-position: 0px 0px;
  height:100px;
  width:100px;
  margin:0 auto;
}

a:hover .cost_optimizing {
  background-position: 0px 100px;
}

.performance {
  background-image: url('/images/categories.png');
  background-position: -100px 0px;
  height:100px;
  width:100px;
  margin:0 auto;
}

a:hover .performance {
  background-position: -100px 100px;
}

.security {
  background-image: url('/images/categories.png');
  background-position: -200px 0px;
  height:100px;
  width:100px;
  margin:0 auto;
}
a:hover .security {
  background-position: -200px 100px;
}

.fault_tolerance {
  background-image: url('/images/categories.png');
  background-position: -300px 0px;
  height:100px;
  width:100px;
  margin:0 auto;
}

a:hover .fault_tolerance {
  background-position: -300px 100px;
}
