<div id='app-react'>
</div>
<script src="scripts/bundled.js"></script>

  <!-- <div class='container-fluid'>
    {{#unless accounts.length}}
    <div class='vcenter text-center'>
        There appears to be no account setup yet. Please set one up <a href='accounts'>here</a>
    </div>
    {{/unless}}
    {{#if accounts.length}}
    <div class='vcenter'>
      <div class='col-lg-3'>
        <div class='text-center'>
          <h3><strong>Cost Optimization</strong></h3>
        </div>
        <div class='costoptimization text-center'>
        </div>
        <div class='text-center'>
          <h2>
            <span class="label label-default">1</span>
            <span class="label label-success">2</span>
            <span class="label label-warning">3</span>
            <span class="label label-danger">4</span>
          </h2>
        </div>
      </div>
      <div class='col-lg-3'>
        <div class='text-center'>
          <h3><strong>Performance</strong></h3>
        </div>
        <div class='performance text-center'>
        </div>
        <div class='text-center'>
          <h2>
            <span class="label label-default">1</span>
            <span class="label label-success">2</span>
            <span class="label label-warning">3</span>
            <span class="label label-danger">4</span>
          </h2>
        </div>
      </div>
      <div class='col-lg-3'>
        <div class='text-center'>
          <h3><strong>Security</strong></h3>
        </div>
        <div class='security text-center'>
        </div>
        <div class='text-center'>
          <h2>
            <span class="label label-default">1</span>
            <span class="label label-success">2</span>
            <span class="label label-warning">3</span>
            <span class="label label-danger">4</span>
          </h2>
        </div>
      </div>
      <div class='col-lg-3'>
        <div class='text-center'>
          <h3><strong>Fault Tolerance</strong></h3>
        </div>
        <div class='faulttolerance text-center'>
        </div>
        <div class='text-center'>
          <h2>
            <span class="label label-default">1</span>
            <span class="label label-success">2</span>
            <span class="label label-warning">3</span>
            <span class="label label-danger">4</span>
          </h2>
        </div>
      </div>
    </div>
    {{/if}}
  </div> -->
