<div class='container'>
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img alt="Consigliere" src="images/consigliere_400x147_white.png">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="cost">Cost Optimizing <span class="label label-danger label-as-badge"></span></a></li>
          <li><a href="performance">Performance <span class="label label-danger label-as-badge"></span></a></li>
          <li><a href="security">Security <span class="label label-danger label-as-badge"></span></a></li>
          <li><a href="fault">Fault Tolerance <span class="label label-danger label-as-badge"></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="accounts">Accounts <span class="label label-danger label-as-badge"></span></a></li>
        </ul>

      </div>
    </div>
  </nav>
</div>
